@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Master Branch DevOps Project</h1>
    <br /><hr />
    <label>ConfigMaps</label>
    <hr />
    @ViewBag.BaseUrl
    <br />
    @ViewBag.Environment
    <br /> <br /> <hr />
    <label>Secrets</label>
    <hr />
    @ViewBag.Username
    <br />
    @ViewBag.Password
    <br />
    <hr />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
